:root {
  --primary-color: #282043;
  --second-color: #332e59;
  --third-color: #f16c38;
  --fourth-color: #d85c64;
  --fifth-color: #703f5d;
  --text-color-1: #ffffff;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  min-height: 100vh;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.pokemonList {
  display: grid;
  justify-content: space-around;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 256px);
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

a,
li {
  list-style: none;
  text-decoration: none;
}
